button {
	background-color: $main-white;
	border: 2px solid $base-pink;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	cursor: pointer;

	p {
		padding: 33px 61px;
		font-family: $secondary-font;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 3rem;
		color: $base-pink;
	}
}

// Media query mobile
@media only screen and (max-width: 767px) {
	button {
		p {
			padding: 20px 40px;
			font-size: 24px;
			line-height: 2.5rem;
		}
	}
}

// Media query iPad
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	button {
		p {
			padding: 25px 50px;
			font-size: 28px;
		}
	}
}

// Media query other
@media only screen and (min-width: 1024px) {
	button {
		p {
			padding: 33px 61px;
		}
	}
}
