@import "react-responsive-carousel/lib/styles/carousel.min.css";

/* Your custom styles for the carousel */

.carousel {
  /* Custom styles for the carousel container */
  margin: 0 auto;
  max-width: 300px;
  max-height: 500px;
}

.carousel .slider-wrapper {
  /* Custom styles for the slider wrapper */
  overflow: hidden;
}

.carousel .slider-wrapper .slider {
  /* Custom styles for the slider */
  transition: transform 0.5s ease-in-out;
}

.carousel .slider-wrapper .slider .slide {
  /* Custom styles for the individual slides */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 50px;
}

.carousel .carousel-status {
  /* Custom styles for the carousel status */
  display: none;
}

.carousel .control-dots {
  /* Custom styles for the control dots */
  display: flex;
  justify-content: center;
  align-items: center;

  .dot {
    /* Custom styles for each control dot */
    background-color: $main-black;
    width: 17px;
    height: 6px;
    border-radius: 5px;
    box-shadow: none;
    margin: 0px 7px -10px 0;

    &.selected {
      /* Custom styles for the selected dot */
      background-color: $base-pink;
    }
  }
}

/* Add more custom styles as needed */
