.about{
    width: 100vw;
    height: calc(100vh - 13.5rem);
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
    justify-content: center;   
    
    &-info{
        height: 55%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        padding: 0 4rem;

        .title{
            height: 25%;
            width: 100%;
            color: $base-blue;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h1{
                font-size: 40px;
                font-style: normal;
                font-weight: 900;
                line-height: 35px
            }
        }

        .description{
            height: 50%;
            display: flex;
            align-items: center;

            p{
                font-size: 14px;
                font-family: $secondary-font;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: 0.05em;
            }

        }
        .button{
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            button{
                height: 66px;
                width: 154px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                background: $main-white;
                border: 2px solid $base-pink;
                box-shadow: 0px 4px 4px $shadows;
                border-radius: 5px;

                p{
                    font-size: 20px;
                    color: $base-pink;
                    font-family: $secondary-font;
                }
            } 
        }
    }
    &-values{
        height: 45%;
        width: 100%;
    }
}

// Media query mobile
@media only screen and (max-width: 767px) {
    
}

// Media query iPad
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .about{
        display: flex;
        flex-direction: row;
        &-info{
            height: 80%;
            width: 50%;
            padding: 0 0 0 6rem;
            .title{
                h1{
                    font-size: 60px;
                    line-height: 50px;
                }
            }
    
            .description{
                height: 60%;

                p{
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: 0.05em;             
                }
            }
            .button{
                height: 20%;
            }
        }
        &-values{
            height: 80%;
            width: 50%;
        }
    }
    
}
// Media query other
@media only screen and (min-width: 1024px) {
    .about{
        display: flex;
        flex-direction: row;
        &-info{
            height: 80%;
            width: 50%;
            padding: 0 0 0 6rem;
            .title{
    
                h1{
                    font-size: 75px;
                    line-height: 70px
                }
            }
    
            .description{
               
    
                p{
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: 0.05em;   
                }
    
            }
            .button{
                height: 25%;
                align-items: flex-start;
            }
        }
        &-values{
            height: 60%;
            width: 50%;
        }
    }
    
}