.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	height: auto;
	margin: 12rem 0 16rem 0;

	&-title {
		text-transform: uppercase;
		color: $base-blue;
		font-family: $primary-font;
		line-height: 10rem;
	}

	&-paragraph {
		width: 550px;
		height: 214px;
		margin: 3rem auto;
		font-family: $secondary-font;
		font-weight: 100;
		font-size: 32px;
		line-height: 4rem;
		color: $main-black;
	}

	&-button {
		button {
			background-color: $main-white;
			border: 2px solid $base-pink;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 0.5rem;
			cursor: pointer;

			p {
				padding: 33px 61px;
				font-family: $secondary-font;
				font-style: normal;
				font-weight: 700;
				font-size: 32px;
				line-height: 3rem;
				color: $base-pink;
			}
		}
	}

	.linea-1 {
		font-weight: 900;
		font-size: 10rem;
		letter-spacing: 0.25em;
	}

	.linea-2 {
		font-weight: 500;
		font-size: 64px;
	}

	.linea-3 {
		font-weight: 900;
		font-size: 64px;
	}

	// Media query mobile
	@media only screen and (max-width: 767px) {
		margin: 6rem 0 10rem 0;

		&-title {
			width: 85%;
			font-size: 48px;
			line-height: 6rem;
		}

		&-paragraph {
			width: 85%;
			height: auto;
			margin: 2rem auto;
			font-size: 24px;
			line-height: 3rem;
		}

		&-button {
			button {
				p {
					padding: 20px 40px;
					font-size: 24px;
					line-height: 2.5rem;
				}
			}
		}

		.linea-1 {
			font-size: 6rem;
		}

		.linea-2 {
			font-size: 48px;
		}

		.linea-3 {
			font-size: 48px;
		}
	}

	// Media query iPad
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		margin: 8rem 0 12rem 0;

		&-paragraph {
			width: 70%;
			font-size: 28px;
		}

		&-button {
			button {
				p {
					padding: 25px 50px;
					font-size: 28px;
				}
			}
		}
	}
    
	// Media query other
	@media only screen and (min-width: 1024px) {
		margin: 12rem 0 16rem 0;

		&-paragraph {
			width: 550px;
		}

		&-button {
			button {
				p {
					padding: 33px 61px;
				}
			}
		}
	}
}
