.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;

  .home-title {
    width: 80%;
    height: 50%;
    text-transform: uppercase;
    color: $base-blue;
    padding-top: 1%;

    .home-title-linea-1 {
      height: 40%;
      font-weight: 900;
      font-size: 92px;
      letter-spacing: 20px;
    }

    .home-title-linea-2 {
      height: 20%;
      font-weight: 700;
      font-size: 60px;
    }

    .home-title-linea-3 {
      height: 40%;
      font-weight: 900;
      font-size: 62px;
      letter-spacing: 12px;
    }
  }

  .home-paragraph {
    width: 60%;
    height: 40%;
    p {
      color: $main-black;
      font-size: 20px;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.05em;
      padding-top: 1%;
      padding-bottom: 2%;
    }
  }

  .home-button {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 3%;
    .button-services {
      width: 420px;
      height: 106px;

      p {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }
}

// Media query mobile small
@media only screen and (min-width: 300px) and (max-width: 375px) {
  .home {
    .home-title {
      width: 100%;
      height: 40%;
      text-align: right;
      margin-right: 50px;

      .home-title-linea-1 {
        height: 40%;
        font-weight: 900;
        font-size: 64px;
        letter-spacing: 0;
      }

      .home-title-linea-2 {
        height: 20%;
        font-weight: 700;
        font-size: 32px;
      }

      .home-title-linea-3 {
        height: 40%;
        font-weight: 900;
        font-size: 32px;
        letter-spacing: 0;
      }
    }

    .home-paragraph {
      width: 85%;
      height: 40%;
      p {
        font-size: 14px;
        line-height: 20px;
        text-align: right;
      }
    }

    .home-button {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .button-services {
        width: 320px;
        height: 96px;

        p {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
}

// Media query mobile
@media only screen and (min-width: 376px) and (max-width: 771px) {
  .home {
    .home-title {
      width: 100%;
      height: 40%;
      text-align: right;
      margin-right: 50px;
      padding-top: 1%;
      .home-title-linea-1 {
        height: 40%;
        font-weight: 900;
        font-size: 64px;
        letter-spacing: 0;
      }

      .home-title-linea-2 {
        height: 20%;
        font-weight: 700;
        font-size: 32px;
      }

      .home-title-linea-3 {
        height: 40%;
        font-weight: 900;
        font-size: 32px;
        letter-spacing: 0;
      }
    }

    .home-paragraph {
      width: 85%;
      height: 40%;
      p {
        font-size: 14px;
        line-height: 20px;
        text-align: right;
      }
    }

    .home-button {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .button-services {
        width: 320px;
        height: 96px;

        p {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
}
// // Media query iPad
@media only screen and (min-width: 772px) and (max-width: 931px) {
  .home {
    .home-title {
      width: 60%;
      height: 45%;
      padding-top: 1%;
      .home-title-linea-1 {
        font-weight: 900;
        font-size: 74px;
        letter-spacing: 10px;
      }

      .home-title-linea-2 {
        font-weight: 700;
        font-size: 32px;
      }

      .home-title-linea-3 {
        font-weight: 900;
        font-size: 42px;
        letter-spacing: 5px;
      }
    }

    .home-paragraph {
      width: 75%;
      height: 30%;
      p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.1em;
        padding-bottom: 1%;
      }
    }

    .home-button {
      width: 100%;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .button-services {
        width: 320px;
        height: 102px;

        p {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
}
// Media query iPad - Desktop
@media only screen and (min-width: 932px) and (max-width: 1245px) {
  .home {
    .home-title {
      width: 60%;
      height: 50%;
      padding-top: 1%;

      .home-title-linea-1 {
        height: 40%;
        font-weight: 900;
        font-size: 84px;
        letter-spacing: 10px;
      }

      .home-title-linea-2 {
        height: 20%;
        font-weight: 700;
        font-size: 42px;
      }

      .home-title-linea-3 {
        height: 40%;
        font-weight: 900;
        font-size: 52px;
        letter-spacing: 5px;
      }
    }

    .home-paragraph {
      width: 70%;
      height: 40%;
      p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.1em;
      }
    }
  }
}
