.main-services {
  min-height: calc(100vh - (5.5rem + 8rem));
  position: relative;
  overflow-y: auto; 
  overflow-x: hidden;

   .services-intro {
    width: 100%;
    padding-top: 10rem;
      .services-title {
        width: 90%;
        margin: 0 auto;
        h2 {
            font-size: 4rem;
            font-weight: 900;
            color: $base-blue;
            text-align: right;
        }
        :nth-child(2) {
            text-transform: lowercase;
        }
      }

      .services-description {
        width: 90%;
        margin: 0 auto;
        padding-top: 1rem;
        p {
            font-family: $secondary-font;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 2rem;
            text-align: center;
        }
      }
   }

   .services-cards {
    width: 100%;
    height: auto;
    margin-top: 5rem;
     .cards-container {
      width: 100%;
      display: flex;
      align-items: center;
     }
   }
}