* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $primary-font;
}

body {
    width: 100%;
    height: 100%;
    background-color: $main-white;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
